<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AngularJS Intro</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
    <script src="app.js" charset="utf-8"></script>
  </head>
  <body ng-app="superheroApp">
    <section ng-controller="SuperherosController as vm">
      <h1> search SuperHero Phonebook</h1>
      <input type="text" ng-model="search"/>
      <h1>Superhero List</h1>
      <ul>
        <li ng-repeat="superhero in vm.superheros| filter: search" ng-class='marvel' : superheros.affiliation === 'red', 'dc':  : superheros.affiliation === 'blue'>
        {{superhero.name}} |
        {{superhero.phone_number}} |
        {{superhero.comics_affilication}} |
        {{superhero.url}} |
        </li>
      </ul>
    </section>
  </body>
</html>
